<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Per Case / Conversion Settings -->
    
    <!--MicroFocus Input paths-->
    <add key="MicroFocusAunWorkbookPath" value="\\bb8\EDT\Pilot Case Exports\RE01051 - REV\1699\AUN_WORKBOOK.CSV"/>
    <add key="MicroFocusStagingDirectoryTextPath" value="\\bb8\EDT\Pilot Case Exports\RE01051 - REV\Non-LPP\TEXT"/>
    <add key="MicroFocusStagingDirectoryNativePath" value="\\bb8\EDT\Pilot Case Exports\RE01051 - REV\Non-LPP\NATIVE"/>
    <add key="IdxFilePath" value="\\bb8\EDT\Pilot Case Exports\RE01051 - REV\1699\IDX\NON-LPP\RE01051_-_REVzloncwfsailcs049031-0.idx\RE01051_-_REVzloncwfsailcs049031-0.idx"/>
    <add key="RedactionsFilePath" value=""/>
    
    <!--Conversion Related Paths-->
    <add key="ConversionToolOutputDirectory" value="C:\edt\Validator\Validator\Load_Package_Validator"/>
    <add key="StandardMapPath" value="\\edtmigration\Migration Data\StandardMap\StandardMap_v7.1.csv"/>
    
    <!-- EDT case and import settings-->
    <add key="EdtCaseId" value="1040"/>
    <add key="EdtImporterDataSetName" value="Non LPP"/>
	  <add key="dbName" value="[eDiscoveryToolbox.Case.1040].[dbo]"/>

    <!-- EDT Product Settings -->
    <add key="EdtCfsDirectory" value="\\edt\E\CFS"/>
    <add key="EdtDatabaseConnectionString" value="Data Source=EDT;Initial Catalog=eDiscoveryToolbox.Case.1040;User ID=ToolboxUser;Password=T00lb0x!"/>
    
    <!-- Validation Settings -->
    <add key="UseExistingIdxAnalysis" value="true"/>
    <add key="IdxSampleSize" value="1000"/>
    <add key="IgnoredIdxFieldsFromComparison" value="AUN_VIRTUAL_CUSTODIAN|AUN_VIRTUAL_GROUP|AUN_VIRTUAL_SOURCE_NAME|AUN_WORKBOOK_NUMERIC"/>
    <add key="EmailFieldIdentifyingPrefix" value="Recipients-"/>
    <add key="LocationIdxFields" value="AUN_VIRTUAL_GROUP|AUN_VIRTUAL_CUSTODIAN|AUN_VIRTUAL_SOURCE_NAME|VIRTUAL_PATH_SEGMENT_"/>


	  <add key="Version" value="1.2"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
