<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Per Case / Conversion Settings -->
    <add key="StagigngDirectory" value="C:\EDT\BondData\Migration Data\Migration Data\393" />
    <add key="IdxName" value="tiny.idx"/>
    <add key="ConversionToolOutputDirectory" value="" />
    <add key="StandardMapPath" value="C:\Users\Tom\Downloads\Updated Standard Map CSV.csv" />
    <add key="EdtCaseId" value="10"/>
    
    <!-- EDT Product Settings -->    
    <add key="EdtCfsDirectory" value="C:\eDiscovery\Store"/>
    <add key="EdtDatabaseConnectionString" value="Data Source=localhost;Initial Catalog=eDiscoveryMaster;User Id=ToolboxUser;Password=DiscoverEdt123;"/>
  </appSettings>
</configuration>