<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Per Case / Conversion Settings -->
    <add key="MicroFocusStagingDirectory" value="C:\EDT\BondData\Migration Data\Migration Data\393" />
    <add key="IdxName" value="tiny.idx"/>
    <add key="ConversionToolOutputDirectory" value="C:\EDT\temp\tiny3\Load_Package_tiny3" />
    <add key="StandardMapPath" value="C:\GitHub\Edt.Bond.Migration.Reconciliation\Updated Standard Map CSV_1.csv" />
    <add key="EdtCaseId" value="11"/>
    <add key="EdtImporterDataSetName" value="i"/>
    
    <!-- EDT Product Settings -->    
    <add key="EdtCfsDirectory" value="C:\eDiscovery\Store"/>
    <add key="EdtDatabaseConnectionString" value="Data Source=localhost;Initial Catalog=eDiscoveryMaster;User Id=ToolboxUser;Password=DiscoverEdt123;"/>
  </appSettings>
</configuration>